UNAME_S=`uname -s`
if [ $UNAME_S == 'Linux' ]
then
  export TOTAL_CORES=`cat /proc/cpuinfo | grep -c processor`
elif [ $UNAME_S == 'Darwin' ]
then
  export TOTAL_CORES=`sysctl -n hw.ncpu`
else
  echo "Cannot determine total number of cores on this system"
fi

alias pico='nano'

# git
alias gi='git status'
alias gdc='git diff --cached'
alias gdiff='git diff'
alias gcm='git commit -m'
alias gau='git add -u'

# misc
alias ll='ls -la'
alias sc="scons -j $TOTAL_CORES"
alias mk="make --no-print-directory -j$TOTAL_CORES"
alias mkc="make --no-print-directory -j$TOTAL_CORES check" 
alias play='activator'
